## Observations and Insights

In [13]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
combined_study_df = pd.merge(mouse_metadata, study_results, how='outer', on='Mouse ID')

# Display the data table for preview
combined_study_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [2]:
# Checking the number of mice.
combined_study_df['Mouse ID'].nunique()

249

In [3]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. .groupby('')
mouse_df = combined_study_df.groupby(['Mouse ID'])
mouse_df['Timepoint'].nunique()

Mouse ID
a203    10
a251    10
a262    10
a275    10
a366     7
        ..
z435     3
z578    10
z581    10
z795    10
z969    10
Name: Timepoint, Length: 249, dtype: int64

In [5]:
# Optional: Get all the data for the duplicate mouse ID. 
dup_mouse_df = combined_study_df[combined_study_df.duplicated(subset=['Mouse ID','Timepoint'], keep=False)]
dup_mouse_df.describe()

       Age_months  Weight (g)  Timepoint  Tumor Volume (mm3)  Metastatic Sites
count        10.0        10.0   10.00000           10.000000         10.000000
mean         21.0        26.0   10.00000           50.273452          0.300000
std           0.0         0.0    7.45356            3.702155          0.483046
min          21.0        26.0    0.00000           45.000000          0.000000
25%          21.0        26.0    5.00000           47.874494          0.000000
50%          21.0        26.0   10.00000           50.603190          0.000000
75%          21.0        26.0   15.00000           53.017804          0.750000
max          21.0        26.0   20.00000           55.326122          1.000000

In [16]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
unique_mouse_df = combined_study_df.drop_duplicates(subset =["Mouse ID", 'Timepoint'], keep ='first', inplace =False)
unique_mouse_df.head()

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1

In [7]:
# Checking the number of mice in the clean DataFrame.
unique_mouse_df['Mouse ID'].nunique()

249

## Summary Statistics

In [30]:
# Generate a summary statistics table of mean, median, variance, standard deviation,and SEM of the tumor volume for each regimen
# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 

# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

tumor_vol_df = unique_mouse_df.groupby(["Drug Regimen"])

tumor_mean = tumor_vol_df["Tumor Volume (mm3)"].mean()
tumor_median = tumor_vol_df["Tumor Volume (mm3)"].median()
tumor_var = tumor_vol_df["Tumor Volume (mm3)"].var()
tumor_stdev = tumor_vol_df["Tumor Volume (mm3)"].std()
tumor_SEM = tumor_vol_df["Tumor Volume (mm3)"].sem()

In [32]:
Tumor_Vol_Analysis = pd.DataFrame({
    "Tumor Mean":tumor_mean,
    "Tumor Median":tumor_median,
    "Tumor Variance":tumor_var,
    "Tumor StdDev":tumor_stdev,
    "Tumor SEM":tumor_SEM})

Tumor_Vol_Analysis["Tumor Mean"]=Tumor_Vol_Analysis["Tumor Mean"].map("{:,.2f}".format)
Tumor_Vol_Analysis["Tumor Median"]=Tumor_Vol_Analysis["Tumor Median"].map("{:,.2f}".format)
Tumor_Vol_Analysis["Tumor Variance"]=Tumor_Vol_Analysis["Tumor Variance"].map("{:,.2f}".format)
Tumor_Vol_Analysis["Tumor StdDev"]=Tumor_Vol_Analysis["Tumor StdDev"].map("{:,.2f}".format)
Tumor_Vol_Analysis["Tumor SEM"]=Tumor_Vol_Analysis["Tumor SEM"].map("{:,.2f}".format)
Tumor_Vol_Analysis.head()

             Tumor Mean Tumor Median Tumor Variance Tumor StdDev Tumor SEM
Drug Regimen
Capomulin         40.68        41.56          24.95         4.99      0.33
Ceftamin          52.59        51.78          39.29         6.27      0.47
Infubinol         52.88        51.82          43.13         6.57      0.49
Ketapril          55.24        53.70          68.55         8.28      0.60
Naftisol          54.33        52.51          66.17         8.13      0.60

In [ ]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line

## Bar and Pie Charts

In [ ]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pandas.

In [ ]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pyplot.

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [ ]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [ ]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [ ]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [ ]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [ ]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [ ]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [ ]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen